<div class='header {{this.menuClass}}' {{on 'click' this.toggleMenu}}>
  <div class='title'>
    <div class='id'>
      {{this.chapter.id}}
    </div>
    <h1>
      {{this.chapter.title}}
    </h1>
  </div>
  <div class='het-atoom-title'>
    <div class='illustration'>
      <Svg::AtoomIllustration />
    </div>
    <div class='logo'>
      <Svg::HetAtoom />
    </div>
  </div>
</div>

<Menu @isOpen={{this.menu.isOpen}} @model={{@model}} />

{{yield}}