<div class='header {{this.menuClass}}' {{on 'click' this.toggleMenu}}>
  <div class='het-atoom'>
    Het Atoom
  </div>
  <Svg::ArrowRight />
  <div class='id'>
    {{this.chapter.id}}
  </div>
  <h1>
    {{this.chapter.title}}
  </h1>
</div>

<Menu @isOpen={{this.menu.isOpen}} @model={{@model}} />

{{yield}}