<div class='header {{this.menuClass}}' {{on 'click' this.toggleMenu}}>
  <div class='het-atoom'>
    Het Atoom
  </div>
  <Svg::ArrowRight />
  <div class='id'>
    b
  </div>
  <h1>
    Historie Energie Voorziening
  </h1>
</div>

<Menu @isOpen={{this.menuOpen}} @model={{@model}} />

{{yield}}