<div class='video-player' data-currentTime={{this.currentTime}}>
  <video
    autoplay
    muted
    playsinline
    {{on 'timeupdate' this.setReadyForUpdate}}
    {{on 'play' this.onPlay}}
    {{on 'pause' this.onPause}}
    {{did-insert this.didInsert}}
  >
    <source
      src='https://int.nyt.com/newsgraphics/2021/tulsa-massacre-centennial-videos/topper/topper-video-v9-960.mp4'
      type='video/mp4'
    />
    <!-- fallback content here -->
  </video>
</div>

{{yield}}