<div
  class='timeline'
  {{did-insert this.didInsert}}
  {{will-destroy this.willDestroy}}
>
  <TimelineSegment
    @tempId='1'
    @frame={{this.frame}}
    @start='10'
    @length='271'
  />
  <TimelineSegment
    @tempId='2'
    @frame={{this.frame}}
    @start='281'
    @length='20'
  />
</div>

<div class='timeline-debug'>
  {{this.frame}}
</div>

<div class='timeline-scrollheight' style='height:{{this.height}}px;'>
  &nbsp;
</div>

<div class='timeline-progress'>
  <div class='indicator' style='top:{{this.progress}}%;'>
    &nbsp;
  </div>
</div>

{{yield}}