<div
  class='timeline'
  {{did-insert this.didInsert}}
  {{will-destroy this.willDestroy}}
>
  <TimelineSegment
    @tempId='1'
    @frame={{this.frame}}
    @start='10'
    @length='271'
    @baseWidth={{this.baseWidth}}
    @baseHeight={{this.baseHeight}}
    @fade='0.33'
  />
  <TimelineSegment
    @tempId='2'
    @frame={{this.frame}}
    @start='40'
    @length='300'
    @opacity='0.5'
    @width='0.5'
    @top='0.05'
    @left='0.0'
    @originWidth='1664'
    @originHeight='990'
    @baseWidth={{this.baseWidth}}
    @baseHeight={{this.baseHeight}}
    @fade='0.5'
    @style='background-color:pink;transform:rotate(20deg);'
  />
</div>

<div class='timeline-debug'>
  {{this.frame}}
</div>

<div class='timeline-scrollheight' style={{this.scrollHeightStyle}}>
  &nbsp;
</div>

<div class='timeline-progress'>
  <div class='indicator' style={{this.progressStyle}}>
    &nbsp;
  </div>
</div>

{{yield}}