<div
  class='timeline'
  {{did-insert this.didInsert}}
  {{will-destroy this.willDestroy}}
>
  {{#each @segments as |item|}}
    <TimelineSegment
      @src={{item.src}}
      @start={{item.start}}
      @length={{item.length}}
      @fade={{item.fade}}
      @opacity={{item.opacity}}
      @width={{item.width}}
      @height={{item.height}}
      @top={{item.top}}
      @left={{item.left}}
      @originWidth={{item.originWidth}}
      @originHeight={{item.orginHeight}}
      @style={{item.style}}
      @baseWidth={{this.baseWidth}}
      @baseHeight={{this.baseHeight}}
      @frame={{this.frame}}
    />
  {{/each}}
</div>

<div class='timeline-debug'>
  {{this.frame}}
</div>

<div class='timeline-scrollheight' style={{this.scrollHeightStyle}}>
  &nbsp;
</div>

<div class='timeline-progress'>
  <div class='indicator' style={{this.progressStyle}}>
    &nbsp;
  </div>
</div>

{{yield}}