<div class='timeline-segment' data-frame={{this.computedFrame}}>
  <div class='container{{this.class}}' style={{this.style}}>
    {{#if (eq @tempId '1')}}
      <VideoPlayer @visible={{this.visible}} @frame={{this.computedFrame}} />
    {{else}}
      <ImageElement @visible={{this.visible}} @frame={{this.computedFrame}} />
    {{/if}}
  </div>
</div>

{{yield}}