<div class='timeline-segment' data-frame={{this.computedFrame}}>
  <div class='container' style={{this.style}}>
    {{#if this.visible}}
      {{#if (eq @tempId '1')}}
        <VideoPlayer @frame={{this.computedFrame}} />
      {{else}}
        <ImageElement @frame={{this.computedFrame}} />
      {{/if}}
    {{/if}}
  </div>
</div>

{{yield}}