<div
  class='chapter-part {{@model.class}}'
  data-id={{@model.id}}
  data-start={{@model.timeline.start}}
  data-end={{@model.timeline.end}}
  style={{this.style}}
>
  <div class='chapter-part-debug chapter-part-debug-start'>
    {{@model.id}} == Start: {{@model.timeline.start}}
  </div>
  <div class='chapter-part-debug chapter-part-debug-end'>
    {{@model.id}} == End: {{@model.timeline.end}}
  </div>

  {{#if (or @model.title @model.description)}}
    <div class='alignment alignment-{{@model.alignment}}'>
      {{#if @model.title}}
        <h2>
          {{@model.title}}
        </h2>
      {{/if}}
      {{#if @model.description}}
        {{markdown-to-html
          markdown=@model.description
          extensions='showdownCaption'
        }}
      {{/if}}
    </div>
  {{/if}}
</div>

{{yield}}