{{page-title 'Het Atoom'}}

<Header @model={{@model.chapters}} />
{{!-- <Timeline @segments={{@model.timeline}} /> --}}

<ul class='chapters'>
  {{#each @model.chapters as |chapter index|}}
    {{#if (or chapter.parts (eq index 0))}}
      <Chapter @model={{chapter}} @index={{index}} />
    {{/if}}
  {{/each}}
</ul>

{{! Base video  }}
<div class='base-video'>
  <VideoPlayer
    @src='https://int.nyt.com/newsgraphics/2021/tulsa-massacre-centennial-videos/topper/topper-video-v9-960.mp4'
    @type='video/mp4'
    @visible='true'
    @frame={{@model.timeline.frame}}
  />
</div>

{{! Timeline }}
<div class='timeline-scrollheight' style={{@model.timeline.scrollHeightStyle}}>
  &nbsp;
</div>

<div class='timeline-progress'>
  <div class='indicator' style={{@model.timeline.progressStyle}}>
    &nbsp;
  </div>
</div>

{{! Debug / Development }}
<div class='timeline-debug'>
  {{@model.timeline.frame}}
</div>

{{outlet}}